* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.expense-type {
    padding: 0.7vmin;
    margin: 0.5vmin;
    box-shadow: inset -1px -1px 2px 1px #5681ca;
    cursor: pointer;
}

#expenseTypes {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, .6)), url('https://media.istockphoto.com/photos/programming-code-abstract-technology-background-of-software-developer-picture-id1294521676?b=1&k=20&m=1294521676&s=170667a&w=0&h=7pqhrZcqqbQq43Q0_TD0Y_YjInAyvA9xiht9bto030U=') no-repeat;
    background-size: contain;
    height: 19.5vh;
}

section {
    height: 60.5vh;
    background: #444444;
}