* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}

.expense-type {
    padding: 1.5vmin;
    margin: 0.8vmin;
    box-shadow: inset -1px -1px 2px 1px #5681ca;
    cursor: pointer;
    font-variant: all-petite-caps;
    border: 2px;
    border-radius: 5px;
    width: 95vw;
}

button {
    padding: 2vmin;
}

.expense-item {
    background: #75634a;
    border-radius: 10px;
    text-align: center;
    box-shadow: -6px 3px 6px 0 #26666b;
}
#newExpense {
    width: 70%;
    margin: auto;
    color: aliceblue;
}
#filter-modal {
    display: none;
}
input {
    padding: 1vmin;
    border-radius: 5px;
}
#expenseType {
    text-align: center;
}
#expenseTypesBox {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, .6)), url('https://media.istockphoto.com/photos/programming-code-abstract-technology-background-of-software-developer-picture-id1294521676?b=1&k=20&m=1294521676&s=170667a&w=0&h=7pqhrZcqqbQq43Q0_TD0Y_YjInAyvA9xiht9bto030U=') no-repeat;
    height: 19.5vh;
    overflow: scroll;
}
#modal {
    display: none;
}
#total {
    color: aliceblue;
}
main {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, .6)), url('https://images.unsplash.com/photo-1620421680010-0766ff230392?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZnJhY3RhbHxlbnwwfHwwfHw%3D&w=1000&q=80') no-repeat;
    height: 60.5vh;
    background-size: cover;
}